@import url(//fonts.googleapis.com/css?family=Lato:300:400);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightblue;
  font-family: "Lato", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.center-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.transparent {
  background-color: transparent;
}
/*======End Of Body =======*/

/*=========== Hero Section ========*/
.hero-foot .is-active a,
.hero-foot .is-active {
  color: black;
  background-color: lightblue !important;
}
/* ========Forms Drop-Down============*/
#dropdown {
  position: relative;
  color: #fff;
}
#dropdown-content {
  position: absolute;
  top: 70%;
  left: -40%;
  background: #1d72aa;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: none;
}
#dropdown-content li {
  border-bottom: 2px #666 solid;
}
.forms-content {
  background: transparent !important;
  height: 40vw;
}
/*=========== End of Hero Section ========*/

/*=========== Overview Cards ========*/
.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-equal-height .card-footer {
  margin-top: auto;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
}
.card img {
  border-radius: 0.5rem;
  margin: 0 auto;
}
#over-section .subtitle span,
.inner-header h1 span {
  border-bottom: #ccc 3px solid;
}
.over-section .columns,
.content {
  border-radius: 0.5rem;
}
.bottom-overview {
  background: #bad5e7 !important;
}
/*--------------OverView---------------*/
#over h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 40px;
}

.overview-left {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #0967a1 0%, #3399dc 100%);
  color: white;
  border-radius: 0.5rem;
}

.inner-header {
  height: 30vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.overview-left svg {
  border-radius: 0.5rem;
}

.waves {
  position: relative;
  width: 100%;
  height: 30vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*--------------------------------------*/
#top {
  position: fixed;
  bottom: 3em;
  right: 0.1em;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  display: none;
  scroll-behavior: smooth;
}
#over a,
#footer-footer a {
  color: blue !important;
}
#over.card:hover,
#proj.card:hover,
.box:hover {
  box-shadow: -15px 5px 5px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
  cursor: grab;
}

/*=========== End of overview Section ========*/

/* ==========Performances =============*/
aside li a {
  color: white !important;
  border-left: solid 2px black;
  margin: 5px;
  transition: background-color 1s, margin-left 0.5s;
}
aside li a:hover {
  color: black !important;
  margin-left: 2px;
}
aside p {
  color: rgb(41, 37, 37) !important;
}
.dash1,
.dash1 iframe,
.container,
section,
.iframe-container {
  border-radius: 0.3rem;
}
.w3-modal-content,
iframe,
embed {
  border-radius: 0.5rem;
}
.menu-list .is-active1 a,
li .is-active1 {
  background: #01b1ff;
  color: #000000 !important;
}
/*------------Dashboards--------------*/
.is-fullwidth {
  margin: 0;
  padding: 1px;
  border: 0;
}
.iframe-container {
  min-height: 100px;
  background: #242424 url("./images/preloader.gif") no-repeat 50% center;
}
iframe {
  overflow: hidden !important;
}
.iframe-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
/*-------------Admin Access Pass Box------------- */
#pass-box,
#pass-box1,
#pass-box2,
#pass-box3 {
  box-sizing: border-box;
  height: 30%;
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0.5rem;
  padding: 0.5%;
  display: none;

  z-index: 99;
  background: #0967a1;
}
/* Delete Button*/
.delete {
  float: right;
}
/* ==========Performances =============*/

/*=========== Projects Cards========*/
.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.equal-height img {
  border-radius: 0.5rem;
  margin: 0 auto;
}
/*===========End of Projects Cards ========*/

/*---------------Incentives-------------------------*/
.is-incentive {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.is-incentive img {
  border-radius: 0.5rem;
  margin: 0 auto;
}
.is-incentive-child {
  display: flex;
  flex-direction: column;
  height: 0 auto;
}
#incentives-top {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.column,
.columns,
.column img,
.container,
.section,
.sections,
section,
article,
.media {
  border-radius: 0.3rem;
}
/*=========== End of incentives ========*/

/*===========Schedules===========*/
ul {
  list-style-type: none;
  box-sizing: border-box;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1a89bc;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
}
/*==========End of Schedules=========*/

/*=========== Newsletter ========*/
#news {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#news img {
  border-radius: 0.2rem;
  margin: 0 auto;
}
/*------------------End of Newsletter-----------------------*/

/*==========Footer =========*/
.footer .column {
  border-left: #000 2px solid;
  border-radius: 0 !important;
}
.resources {
  border-right: #000 2px solid;
  border-radius: 0 !important;
}
/*=======Footer ======*/

/*-----------------Index.hmtl Style------------------------*/
#home {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#home img {
  border-radius: 0.5rem;
  margin: 0 auto;
}
#home1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#home1 img {
  border-radius: 0.5rem;
  margin: 0 auto;
}
/*-----------------------------------------*/

/*--------------home page------------------*/
.logo {
  border: solid 2px white;
  border-radius: 5px;
}
.about {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.about img {
  border-radius: 0.1rem;
  margin: 0 auto;
}
.service {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.service img {
  border-radius: 0.1rem;
  margin: 0 auto;
}
.body {
  background-color: #369cdc;
  background-image: url("./images/wall.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-position: center center;
  margin: 0;
  border-radius: 0 !important;
}
.about-section {
  background: #1c74aad0;
}
#services .notification,
#testimon {
  background-color: #1d73ab;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23add9e7' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23add9e7'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
.logo-title,
.intro {
  font-family: monospace !important;
}
.about1 {
  border-top: solid 2px #000000;
  border-radius: none !important;
}
.top-section:hover {
  box-shadow: -15px 5px 5px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
  cursor: grab;
}
.our-service {
  animation: services 5s infinite linear;
}
@keyframes services {
  0%,
  100% {
    background: rgba(244, 248, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: services 2s infinite linear;
  }
  50% {
    box-shadow: -15px 5px 5px rgba(0, 0, 0, 0.25);
    transform: scale(1.01);
    cursor: grab;
  }
}
.contact a {
  text-decoration: none !important;
}
.welcome {
  background: #add8e6c0 !important;
  color: #000000 !important;
  border-radius: 0.5rem;
}
.sec-color,
.contact-section input,
.contact-section textarea {
  background: #add8e6c0 !important;
  border: solid 2px #756464 !important;
}
/*Wave*/
.partners-footer {
  background: #eee;
  position: relative;
  background: #3399dc;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.partners-footer > svg {
  display: block;
}
.footer {
  background: #3399dc !important;
  margin-bottom: -13%;
}
.hero-wave {
  background: #eee;
  position: relative;
  background: #add8e6;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.hero-wave > svg {
  display: block;
}
.hero-child {
  background: #add8e6 !important;
  margin-top: -10% !important;
}
/*-----------------------------*/
#form {
  margin-top: -1% !important;
}
form {
  border-radius: 0.5rem;
}
.navbar-burger {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.2;
  }
}

/* Our Team*/
.our-team {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background: #add8e6c0 !important;
}

.our-team .title {
  color: #000;
  font-size: 18px;
}

.our-team a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
a:hover {
  opacity: 0.7;
}
.our-team {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.our-team img {
  border-radius: 0.1rem;
  margin: 0 auto;
}
/*------------------------------------*/

/* ===============================Media Queries=================*/
@media screen and (max-width: 900px) {
  #news img {
    max-width: 300px !important;
  }
  #top {
    size: 40px !important;
    padding: 5px;
  }
  #pro {
    overflow: hidden !important;
  }
  #over-section img {
    max-width: 150px !important;
  }
  #perf .subtitle,
  #perf .button {
    font-size: 10px;
  }
  #home,
  #home1 p {
    font-size: 11px;
  }
  #incentive .subtitle p,
  #incentive .button {
    font-size: 10px;
  }
  #team img {
    max-width: 50px !important;
  }
  .footer .column {
    border-left: 0;
    border-radius: 0;
  }
  .resources {
    border-right: 0;
    border-radius: 0;
  }
}
/* Overview wave Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 25px !important;
  }
  .inner-header p {
    font-size: 11px !important;
  }
}
/*Dashboads Media screen */
@media screen and (max-width: 1406px) {
  #sidenav li {
    font-size: 0.8rem;
  }
}

/* ========== Schedules Add media queries for smaller screens ========== */
@media screen and (max-width: 800px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
  .perf-tab {
    display: none;
  }

  @media screen and (max-width: 420px) {
    .weekdays li,
    .days li {
      width: 12.5%;
    }
    .days li .active {
      padding: 2px;
    }
  }
  #perf,
  #perf-btn {
    display: none;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12.2%;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .navbar>.container {
        align-items: stretch;
        display: flex;
        min-height: 3.25rem;
        width: 100%;
    }
    .navbar-burger {
        display: none;
    }
    .navbar-menu {
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        justify-content: flex-end;
        flex-grow: 1;
        flex-shrink: 0;
    }
    .navbar, .navbar-end, .navbar-menu, .navbar-start {
        display: flex;
        align-items: stretch;
    }

    .navbar-end {
    	justify-content: flex-end;
    margin-left: auto;
    }

    .navbar-item {
        display: flex;
        align-items: center;
    }
}

