body {
  background-color: lightblue;
}
html {
  scroll-behavior: smooth;
}
.is-active {
  color: black;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0 auto;
}
.center-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.transparent {
  background-color: transparent;
}
.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-equal-height .card-footer {
  margin-top: auto;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
}
.card img {
  border-radius: 0.5rem;
  margin: 0 auto;
}
/*-----------------------------------------*/
.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.equal-height img {
  border-radius: 0.5rem;
  margin: 0 auto;
}
/*-----------------------------------------*/
#home{
  display: flex;
  flex-direction: column;
  height: 100%;
}
#home img {
  border-radius: 0.5rem;
  margin: 0 auto;
}
/*-----------------------------------------*/
#home1{
  display: flex;
  flex-direction: column;
  height: 100%;
}
#home1 img {
  border-radius: 0.5rem;
  margin: 0 auto;
}
/*-----------------------------------------*/
#news {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#news img {
  border-radius: 0.2rem;
  margin: 0 auto;
}
/*-----------------------------------------*/
#data {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#data img {
  border-radius: 0.2rem;
  margin: 0 auto;
}
/*-----------------------------------------*/
#incentives-top {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.column,
.columns,
.column img,
.container,
.section,
.sections,
section,
article,
.media {
  border-radius: 0.3rem;
}
/*--------------------------------------*/
#top{
  position:fixed;
  bottom:3em;
  right: .1em;
  box-shadow:0 0 2em 0 rgba(0, 0, 0, .25);
  transition:all .3s ease-in-out;
  display: none;
  scroll-behavior: smooth
}
#over a, #footer-footer a{
  color:blue !important;
}
/*---------------------------------------*/
@media screen and (max-width: 900px) {
  #news img {
    max-width: 300px !important;
  }
  #top{
    size:40px !important;
    padding: 5px;
  }
  #pro{
    overflow: hidden !important;
  }
  #over-section img{
    max-width: 150px !important;
  }
  #perf .subtitle,#perf .button{
    font-size:10px;
  }
  #home, #home1 p{
    font-size: 11px;
  }
  #incentive .subtitle p, #incentive .button{
    font-size:10px;
  }
  #team img{
    max-width:50px !important;
  }
}
/*--------------------------*/
.modal-content{
  max-width:1000px !important;
}
