.body{
	background:rgb(200, 200, 223);
}
svg{
	margin-top: -30%;
	z-index: relative;
}
p, .title p{
	z-index: 99;
	margin-bottom:10% !important;
}
.center{
	display: flex;
	justify-content: center;
	align-items: baseline;
	text-align: center;
	margin:0 auto;
}